body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jumbotron {
  background-color: #F8F8F8;
}

footer {
  padding: 5em 0;
  background-color: #F8F8F8;
  color: #b3b3b3;
  font-size: 16px;
}

footer a {
  margin-top: 20px;
  color: #b3b3b3;
}

.push-bottom {
  padding-bottom:20px;
}
