@import '../../_setup';

.HomepageHeader-logo {
  animation: HomepageHeader-logo-spin infinite 20s linear;
  height: 80px;
  fill: $white;
}

.HomepageHeader-header {
  background-color: $brand;
  color: $white;
  text-align: center;
}

@keyframes HomepageHeader-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
